
.outer{
    position: relative;
    width:500px;
    height: 400px;
    background-color: darkred;
}
.outer > p {
    text-align: center;
    font-size: 4rem;
}

.mid{
  position:absolute;
  top:100px;
  width: 100%;
  height: 200px;
  background-color: darkblue;
}
.ring{
    position: absolute;
    left: 150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: whitesmoke;
}
.ring > p{
    text-align: center;
    font-size: 4rem;
}